# AutoHotkey scripts for Windows
ahk/caps-remap.ahk=%USERPROFILE%/OneDrive - CAB/Documents/AutoHotkey/caps-remap.ahk
ahk/caps-remap.ahk=%APPDATA%/Microsoft/Windows/Start Menu/Programs/Startup/caps-remap.ahk
ahk/quick-capture.ahk=%USERPROFILE%/OneDrive - CAB/Documents/AutoHotkey/quick-capture.ahk
ahk/quick-capture.ahk=%APPDATA%/Microsoft/Windows/Start Menu/Programs/Startup/quick-capture.ahk
