# AutoHotkey scripts for Windows
ahk/caps-remap.ahk=%USERPROFILE%/OneDrive - CAB/Documents/AutoHotkey/caps-remap.ahk
ahk/caps-remap.ahk=%APPDATA%/Microsoft/Windows/Start Menu/Programs/Startup/caps-remap.ahk
ahk/add-to-things.ahk=%USERPROFILE%/OneDrive - CAB/Documents/AutoHotkey/add-to-things.ahk
ahk/add-to-things.ahk=%APPDATA%/Microsoft/Windows/Start Menu/Programs/Startup/add-to-things.ahk
